spring.datasource.url=***
spring.datasource.username=***
spring.datasource.password=***
spring.datasource.driver-class-name=com.mysql.jdbc.Driver
spring.jpa.database-platform=org.hibernate.dialect.MySQLDialect
spring.jpa.hibernate.ddl-auto=none
spring.jpa.show-sql=true
adminUser.username=***
adminUser.password=***
couchAdminUser.username=admin
couchAdminUser.password=***
targetHomeBaseUrl=http://localhost/